<%layout('/layout/boilerplate') %>
<div class="col-6 offset-3">
    <div class="alert alert-danger">
        <h1><%= err.message%></h1>
        <h2 class="alert-heading">
            <p>Ooops...! Something went wrong, please try again</p>
        </h2>
    </div>
    <button><a href="/campgrounds">home</a></button>
</div>
